:root {
  /* COLORS */
  --black-100: #261f22;
  --black-75: #261f22bf;
  --black-50: #261f2299;
  --black-25: #261f2240;
  --black-10: #261f221a;
  --black-5: #261f220d;
  --white-100: #ffffff;
  --white-75: #ffffffbf;
  --white-50: #ffffff99;
  --white-25: #ffffff40;
  --white-10: #ffffff1a;
  --white-5: #ffffff0d;
  --primary: #00c9bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Mulish", "open sans";
}

.container {
  max-width: 144rem;
  margin-inline: auto;
  position: relative; /* For SVG */
  /* overflow: hidden; */
}

html {
  color: var(--white-100);
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    to bottom right,
    #01002f 0%,
    #210b25 74%,
    #050005 100%
  );
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.home {
  min-height: 100vh;
  /* border: 1px solid #00c9bd; */
}

/*=======================*/
/* =======HEADER======= */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem 12.5rem;
}

.logo {
  font-family: "Kanit", "open sans";
  color: var(--primary);
  cursor: default;
  font-size: clamp(1.6rem, 0.2857rem + 2.2857vw, 3.2rem);
}

/*=======================*/
/* =======NAVIGATION======= */
.nav {
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 6.4rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: clamp(1.6rem, 0.6429rem + 1.1429vw, 1.8rem);
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--white-75);
}

.colored:link,
.colored:visited {
  color: var(--primary);
  transition: all 0.2s;
}

.colored:hover,
.colored:active {
  color: #0ba59b;
}

/*=======================*/
/* =======HERO======= */
.hero-section {
  display: flex;
  justify-content: center;
  gap: 14.9rem;
  margin: 11.2rem 13.6rem 0;
  align-items: center;
  flex-direction: column;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  font-family: "kanit", "open sans";
  font-size: clamp(5.6rem, 3.1857rem + 6.1905vw, 12.1rem);
  line-height: clamp(5.4rem, 3.393rem + 5.3521vw, 11.1rem);
  cursor: default;
  text-align-last: center;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.btn-text {
  font-family: "Kanit", "open sans";
  font-size: 2.3rem;
  color: var(--white-100);
  margin-bottom: 1.6rem;
  transition: color 0.3s ease;
}

.btn-svg path {
  fill: var(--white-100);
  transition: fill 0.3s ease;
}

.btn:hover .btn-text {
  color: var(--white-75);
}

.btn:hover .btn-svg path {
  fill: var(--primary);
}

.btn:link,
.btn:visited,
.btn a:link,
.btn a:visited {
  background-color: transparent;
  border: none;
}

.btn-mobile {
  display: none;
  border: none;
  background-color: transparent;
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT  */
.about {
  /* border: 1px solid #00c9bd; */
}

.profile-container {
  display: flex;
  justify-content: center;
  padding: 3.3rem 3.6rem;
  gap: 3.7rem;
  max-width: 100rem;
  background-color: rgba(77, 77, 77, 0.1);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 20rem auto;
}

.eclipse {
  position: absolute;
  width: 100%;
  max-width: 95rem;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-78%, -10%);
}

.profile-img {
  border-radius: 8px;
  width: clamp(31.3rem, 28.5887rem + 7.23vw, 39rem);
  height: auto;
}

.profile-text {
  max-height: 43.3rem;
  display: flex;
  flex-direction: column;
}

.profile-text h1 {
  font-family: "Kanit", "open sans";
  font-size: clamp(2.8rem, 2.5029rem + 0.7619vw, 3.6rem);
  padding-bottom: 3.4rem;
  text-align: center;
}

.profile-text p {
  font-size: clamp(1.4rem, 1.2514rem + 0.381vw, 1.8rem);
  color: var(--white-75);
  line-height: 2.5rem;
}

.profile-footer {
  text-align: right;
  margin-top: auto;
  font-weight: bold;
}

/* WORK WORK WORK WORK WORK WORK */
.works-section {
  /* border: 1px solid #00c9bd; */
  /* min-height: 100vh; */
}

.works-header {
  display: flex;
  justify-content: center;
  font-size: 5.6rem;
  font-family: "kanit", "open sans";
  font-size: clamp(3.6rem, 2.8571rem + 1.9048vw, 5.6rem);
  padding-top: 3.9rem;
}
/* SAMPLE WORKS */
.works {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10.6rem 0 33.8rem 0;
}

.videos-frame {
  display: flex;
  flex-wrap: wrap;
  gap: 12.2rem;
  justify-content: center;
}

.video {
}

.video-1 {
  border-radius: 0.3rem;
}

/* SYSTEM SYSTEM SYSTEM SYSTEM */
.system-mainheader {
  display: flex;
  justify-content: center;
  font-size: 5.6rem;
  font-family: "kanit", "open sans";
  font-size: clamp(3.6rem, 2.8571rem + 1.9048vw, 5.6rem);
  padding-top: 3.9rem;
}

.system-container {
  position: relative;
  max-width: 120rem;
  margin: 10rem auto;
}

.holder {
  position: relative;
  width: 50%;
  /* background-color: #362033; */
  display: flex;
  align-items: center;
}

.text-box {
  padding: 2rem 3rem;
  /* background: #040324; */
}

.left-textbox {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  flex-direction: row-reverse;
  text-align: right;
}

.right-textbox {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

/* INSIDE TEXT BOX */
.system-num {
  font-family: "Kanit", "open sans";
  font-weight: 300;
  color: var(--primary);
  font-size: clamp(2.8rem, 2.5029rem + 0.7619vw, 3.6rem);
}

.system-header {
  font-family: "Kanit", "open sans";
  letter-spacing: 0.2rem;
  font-size: clamp(2.8rem, 2.5029rem + 0.7619vw, 3.6rem);
}

.system-paragraph {
  line-height: 2.5rem;
  opacity: 75%;
  font-size: clamp(1.4rem, 1.2514rem + 0.381vw, 1.8rem);
}

.left-holder {
  padding: 1rem 5rem;
  left: 0;
}

.right-holder {
  padding: 1rem 5rem;
  left: 50%;
}

.circle {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: #00c9bd;
  /* Positioning */
  position: absolute;
  right: -7px;
  top: 10.7rem;
  z-index: 10;
}

.system-container::after {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -0.3rem;
  opacity: 75%;
  border-radius: 0.5rem;
}

.right-holder .circle {
  left: -0.7rem;
}

.text-box img {
  width: clamp(4.6rem, 2.1714rem + 6.4762vw, 8rem);
  height: clamp(4.6rem, 2.1714rem + 6.4762vw, 8rem);
}

/* TESTIMONIAL TESTIMONIAL TESTIMONIAL */

.testimonial {
  /* height: 100vh; */
  padding: 9.8rem 0;
}

.choose-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 7.5rem;
}

.choose-me h1,
.choose-me h1 span {
  font-family: "kanit", "open sans";
  font-size: clamp(2.8rem, 2.5029rem + 0.7619vw, 3.6rem);
}

.choose-me h1 span {
  color: var(--primary);
}

.choose-me p {
  margin-top: 1.6rem;
  max-width: 58.9rem;
  font-size: clamp(1.4rem, 1.2514rem + 0.381vw, 1.8rem);
  color: var(--white-75);
  line-height: 2.5rem;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container {
  max-width: 119.2rem;
  width: 100%;
  /* background-color: grey; */
  padding: 4rem 0;
}

.slide-content {
  margin: 0 4rem;
  overflow: hidden;
}

.card {
  max-width: 35.6rem;
  background-color: rgba(77, 77, 77, 0.1);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 3.6rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.6rem;
}

.card-text {
  font-size: clamp(1.8rem, 1.6239rem + 0.4695vw, 2.3rem);
  font-weight: 600;
  text-align: center;
  color: var(--white-75);
}

.card-text .first {
  color: var(--primary);
}

.card-text .last {
  color: var(--primary);
}

.card-name {
  font-family: "Kanit", "opensans";
  font-size: clamp(1.8rem, 1.6239rem + 0.4695vw, 2.3rem);
}

.card-info small {
  font-family: "Kanit", "opensans";
  font-size: 1.4rem;
  color: var(--white-50);
}

.card-image img {
  max-height: 5.8rem;
  border: 2px solid var(--primary);
  height: 100%;
  border-radius: 50%;
}

.swiper-navBtn {
  color: var(--white-25) !important;
  transition: color 0.3 ease;
}

.swiper-pagination-bullet {
  background-color: var(--primary) !important;
}
/* should be 768 */
/* @media (width <= 767px)  */
@media screen and (max-width: 960px) {
  .system-container {
    margin: 50px auto;
  }
  .system-container::after {
    left: 3.1rem;
  }
  .holder {
    width: 100%;
    padding-left: 30px;
    padding-right: 25px;
  }
  .right-holder {
    left: 0;
  }
  .left-holder .circle,
  .right-holder .circle {
    left: 2.4rem;
  }

  .left-textbox {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    flex-direction: row;
    text-align: left;
  }

  .text-box {
    padding: 20px 0 20px 30px;
  }
}

/* 1380px =====================*/
@media (width <= 1380px) {
  /* HOME SECTION ==========================*/
  .logo {
    font-size: 2.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 1.6rem;
  }

  /* .heading {
    font-size: 9.8rem;
    line-height: 9rem;
  } */

  .hero-section {
    gap: 11.4rem;
    margin: 8.2rem 13.6rem 0;
  }

  .btn-text {
    font-size: 1.8rem;
  }

  .btn-svg {
    width: 4.8rem;
    height: 1.5rem;
  }

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
  .profile-container {
    margin: 10rem auto;
  }
}

/* 1029px =====================*/
@media (width <= 1028px) {
  /* HOME SECTION ==========================*/
  /* .heading {
    font-size: 8.8rem;
    line-height: 8rem;
  } */

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */

  .profile-container {
    max-width: 80rem;
  }
  .profile-img {
    /* max-width: 31.3rem; */
    width: clamp(31.3rem, 28.5887rem + 7.23vw, 39rem);
    height: auto;
  }

  /* WORK WORK WORK WORK WORK */

  .works {
    margin: 4.6rem 0;
  }
  .videos-frame {
    gap: 6.2rem;
  }
}

/* 834px ======================*/
@media (width <= 834px) {
  /* HOME SECTION ==========================*/
  .nav {
    display: none;
  }

  .header {
    padding: 3.6rem;
  }

  .hero-section {
    gap: 10.6rem;
    margin: 18.6rem 13.6rem 0;
  }

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
  .profile-container {
    flex-direction: column;
    align-items: center;
    max-width: 46rem;
  }

  .eclipse {
    transform: translate(-50%, -20%) scale(1);
  }

  .profile-footer {
    margin-top: 3rem;
  }
}

/* 768px ======================*/
@media (width <= 768px) {
  /* HOME SECTION ==========================*/
  .header {
    padding: 3.6rem;
  }

  .hero-section {
    gap: 9.4rem;
    margin: 8.2rem 13.6rem 0;
  }

  /* .heading {
    font-size: 8.8rem;
    line-height: 8rem;
  } */

  /* TESTIMONY SECTION */
  .slide-content {
    margin: 0 3.2rem;
  }

  .swiper-navBtn {
    display: none !important;
  }
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE  */
@media (width <= 700px) {
  .container {
    max-width: 42.8rem;
    margin-inline: auto;
  }
  /* HOME SECTION ==========================*/
  .header {
    padding: 3.2rem;
  }

  .hero-section {
    gap: 16.4rem;
    margin: 12.8rem 3.5rem 0;
  }

  /* .heading {
    font-size: 6.4rem;
    line-height: 5.4rem;
  } */

  .btn {
    display: none;
  }

  .btn-mobile {
    display: block;
  }

  /* ABOUT ABOUT ABOUT */
  .profile-container {
    max-width: 36rem;
  }

  .profile-text h1 {
    /* font-size: 2.8rem; */
  }

  /* TESTIMONY TESTIMONY TESTIMONY */
  .choose-me {
    margin: 0 3.2rem;
  }
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE  */
@media (width <= 390px) {
  /* HOME SECTION ==========================*/
  /* .heading {
    font-size: 5.6rem;
    line-height: 5.4rem;
  } */

  .hero-section {
    gap: 9.4rem;
    margin: 9.6rem 3.5rem 0;
  }
}
