:root {
  --black-100: #261f22;
  --black-75: #261f22bf;
  --black-50: #261f2299;
  --black-25: #261f2240;
  --black-10: #261f221a;
  --black-5: #261f220d;
  --white-100: #ffffff;
  --white-75: #ffffffbf;
  --white-50: #ffffff99;
  --white-25: #ffffff40;
  --white-10: #ffffff1a;
  --white-5: #ffffff0d;
  --primary: #00c9bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Mulish", "open sans";
}

.container {
  max-width: 144rem;
  margin-inline: auto;
  position: relative; /* For SVG */
  overflow: hidden;
}

html {
  color: var(--white-100);
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    to bottom right,
    #01002f 0%,
    #210b25 74%,
    #050005 100%
  );
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.home {
  min-height: 100vh;
  /* border: 1px solid #00c9bd; */
}

/*=======================*/
/* =======HEADER======= */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem 12.5rem;
}

.logo {
  font-family: "Kanit", "open sans";
  color: var(--primary);
  cursor: default;
  font-size: clamp(1.6rem, 0.2857rem + 2.2857vw, 3.2rem);
}

/*=======================*/
/* =======NAVIGATION======= */
.nav {
}

.nav-ul {
  list-style: none;
  display: flex;
  gap: 6.4rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: clamp(1.6rem, 0.6429rem + 1.1429vw, 1.8rem);
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--white-75);
}

.colored:link,
.colored:visited {
  color: var(--primary);
  transition: all 0.2s;
}

.colored:hover,
.colored:active {
  color: #0ba59b;
}

/*=======================*/
/* =======HERO======= */
.hero-section {
  display: flex;
  justify-content: center;
  gap: 14.9rem;
  margin: 11.2rem 13.6rem 0;
  align-items: center;
  flex-direction: column;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  font-family: "kanit", "open sans";
  font-size: 12.1rem;
  line-height: 11.1rem;
  cursor: default;
  text-align-last: center;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.btn-text {
  font-family: "Kanit", "open sans";
  font-size: 2.3rem;
  color: var(--white-100);
  margin-bottom: 1.6rem;
  transition: color 0.3s ease;
}

.btn-svg path {
  fill: var(--white-100);
  transition: fill 0.3s ease;
}

.btn:hover .btn-text {
  color: var(--white-75);
}

.btn:hover .btn-svg path {
  fill: var(--primary);
}

.btn:link,
.btn:visited,
.btn a:link,
.btn a:visited {
  background-color: transparent;
  border: none;
}

.btn-mobile {
  display: none;
  border: none;
  background-color: transparent;
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT  */
.about {
  /* border: 1px solid #00c9bd; */
}

.profile-container {
  display: flex;
  justify-content: center;
  padding: 3.3rem 3.6rem;
  gap: 3.7rem;
  max-width: 100rem;
  background-color: rgba(77, 77, 77, 0.1);
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin: 20rem auto;
}

.eclipse {
  position: absolute;
  width: 100%;
  max-width: 95rem;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-78%, -10%);
}

.profile-img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.profile-text {
  max-height: 43.3rem;
  display: flex;
  flex-direction: column;
}

.profile-text h1 {
  font-family: "Kanit", "open sans";
  font-size: 3.6rem;
  padding-bottom: 3.4rem;
  text-align: center;
}

.profile-text p {
  font-size: 1.6rem;
  color: var(--white-75);
  line-height: 2.5rem;
}

.profile-footer {
  text-align: right;
  margin-top: auto;
  font-weight: bold;
}

/* 1380px =====================*/
@media (width <= 1380px) {
  /* HOME SECTION ==========================*/
  .logo {
    font-size: 2.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 1.6rem;
  }

  .heading {
    font-size: 9.8rem;
    line-height: 9rem;
  }

  .hero-section {
    gap: 11.4rem;
    margin: 8.2rem 13.6rem 0;
  }

  .btn-text {
    font-size: 1.8rem;
  }

  .btn-svg {
    width: 4.8rem;
    height: 1.5rem;
  }

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
  .profile-container {
    margin: 10rem auto;
  }
}

/* 1029px =====================*/
@media (width <= 1028px) {
  /* HOME SECTION ==========================*/
  .heading {
    font-size: 8.8rem;
    line-height: 8rem;
  }

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */

  .profile-container {
    max-width: 80rem;
  }
  .profile-img {
    max-width: 31.3rem;
    height: auto;
  }
}

/* 834px ======================*/
@media (width <= 834px) {
  /* HOME SECTION ==========================*/
  .nav {
    display: none;
  }

  .header {
    padding: 3.6rem;
  }

  .hero-section {
    gap: 10.6rem;
    margin: 18.6rem 13.6rem 0;
  }

  /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */
  .profile-container {
    flex-direction: column;
    align-items: center;
    max-width: 46rem;
  }

  .eclipse {
    transform: translate(-50%, -20%) scale(1);
  }

  .profile-footer {
    margin-top: 3rem;
  }
}

/* 768px ======================*/
@media (width <= 768px) {
  /* HOME SECTION ==========================*/
  .header {
    padding: 3.6rem;
  }

  .hero-section {
    gap: 9.4rem;
    margin: 8.2rem 13.6rem 0;
  }

  .heading {
    font-size: 8.8rem;
    line-height: 8rem;
  }

  /* ABOUT ABOUT ABOUT */
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE  */
@media (width <= 700px) {
  .container {
    max-width: 42.8rem;
    margin-inline: auto;
  }
  /* HOME SECTION ==========================*/
  .header {
    padding: 3.2rem;
  }

  .hero-section {
    gap: 16.4rem;
    margin: 12.8rem 3.5rem 0;
  }

  .heading {
    font-size: 6.4rem;
    line-height: 5.4rem;
  }

  .btn {
    display: none;
  }

  .btn-mobile {
    display: block;
  }

  /* ABOUT ABOUT ABOUT */
  .profile-container {
    max-width: 36rem;
  }

  .profile-text h1 {
    font-size: 2.8rem;
  }
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE  */
@media (width <= 390px) {
  /* HOME SECTION ==========================*/
  .heading {
    font-size: 5.6rem;
    line-height: 5.4rem;
  }

  .hero-section {
    gap: 9.4rem;
    margin: 9.6rem 3.5rem 0;
  }
}
